Source: xdg-desktop-portal-shim
Section: admin
Priority: optional
Maintainer: Jiří Janoušek <janousek.jiri@gmail.com>
Build-Depends: debhelper (>= 9), python3, valac, libglib2.0-dev, libgtk-3-dev
Standards-Version: 3.9.5
Homepage: https://tiliado.eu

Package: xdg-desktop-portal-shim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: provides a minimal required desktop portal functionality to run Nuvola Player flatpaks
